.footer-container{
    background-color: rgba(30, 39, 51, 0.8);
    margin-top: 1rem;
    padding: 0.8rem;
}

.footer-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.footer-header{
    color: #ed563b;
    margin-top: 2%;
}
.footer-description p{
    color: white;
    margin: 0
}
.copyright{
    color: white;
    text-align: center;
     
}